[submodule "submodules/CommonCppIncludes"]
	path = submodules/CommonCppIncludes
	url = https://github.com/Satancito/CommonCppIncludes.git
	branch = main
[submodule "PsCoreFxs"]
	path = submodules/PsCoreFxs
	url = https://github.com/Satancito/PsCoreFxs.git
	branch = main
